<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Users - Shopme Admin', 'common.js')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>

    <div>
        <h2>Manage Users</h2>
        <a th:href="@{/users/new}" style="text-decoration: none;"
           class="fas fa-user-plus fa-2x icon-dark mr-2"></a>

        <a th:href="@{/users/export/csv}"
           class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

        <a th:href="@{/users/export/pdf}"
           class="fas fa-file-pdf fa-2x icon-dark"></a>
    </div>

    <!-- if we saved successfully a new user display message here  -->
    <div id="messageSuccess" th:if="${message != null}" class="alert alert-success text-center">
        [[${message}]]
    </div>

    <div th:replace="fragments :: search_form('/users/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <th class="hideable-column">
            <th th:replace="fragments :: column_link('/users','id', 'User ID', 'tag')"></th>
            </th>
            <th>Photos</th>

            <th class="hideable-column">
            <th th:replace="fragments :: column_link('/users','email', 'Email', 'tag')"></th>
            </th>
            <th th:replace="fragments :: column_link('/users', 'firstName', 'First Name', 'none')"></th>
            <th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name', 'none')"></th>
            <th>Roles</th>
            <th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled', 'none')"></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <td class="hideable-column">[[${user.id}]]</td>
                <td class>
                    <!-- for empty img show default one and if he has photo display it -->
                    <span th:if="${user.photos == null }" class="fas fa-portrait fa-3x icon-silver"></span>
                    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
                         style="width: 100px"/>
                </td>
                <td class="hideable-column" th:text="${user.email}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.roles}"></td>
                <td class="hideable-column">
                    <div th:replace="fragments :: status(${user.enabled}, 'users', '/users/' + ${user.id})"></div>
                </td>
                <td class="text-center">
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- for smaller devices   -->
    <div class="less-details">
        <div th:each="user: ${listUsers}" class="row m-1">
            <div class="col-4">
                <div th:replace="fragments :: user_photos"></div>
            </div>
            <div class="col-8">
                <div>[[${user.fullName}]]</div>
                <div>[[${user.roles}]]</div>
                <div class="mt-2">
                    <div th:replace="fragments :: status(${user.enabled}, 'users', '/users/' + ${user.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: edit('user', '/users/edit/' + ${user.id})"></div>
                    &nbsp;&nbsp;
                    <div th:replace="fragments :: delete('user', ${user.id}, '/users/delete/' + ${user.id}, true)"></div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments :: pagination('/users', 'users')"></div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    resetFilterPage = "[[@{/users}]]";

    // add event for our delete button
    // set the modal functionality for our delete section
    $(document).ready(function () {
        $(".link-delete").on("click", function (e) {
            e.preventDefault();
            // alert($(this).attr("href"));
            const link = $(this);
            const userId = link.attr("userId");

            // adding attribute to yes href to know when I press yes
            // it will dismiss the modal after the success.
            $("#yesButton").attr("href", link.attr("href"));

            $("#confirmText").text("Are you sure you want to delete this user ID: " + userId + "?");
            $("#confirmModal").modal();
        })
    });

    setTimeout(function () {
        $('#messageSuccess').remove();
    }, 4000);


</script>
</body>

</html>