<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<!--head-->
<head th:fragment="page_head(title, scriptFile)">
    <meta http-equiv="Cotent-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0, minimum-scale=1.0">
    <title th:text="${title}"></title>

    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>
    <script type="text/javascript" th:src="@{'/js/' + ${scriptFile}}"></script>
</head>
<body>

<!--table-->
<th th:fragment="column_link(moduleURL, fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
    <a class="text-white"
       th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' +
                ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? keyword : ''}}">
        [[${columnLabel}]]
    </a>

    <span th:if="${sortField == fieldName}"
          th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sortdown'}"
    ></span>

</th>

<!--pagination anchor tags -->
<a th:fragment="page_link(moduleURL, pageNum, label)"
   class="page-link"
   th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' +
                ${sortDir} + ${keyword != null ? keyword : ''}}">
    [[${label}]]
</a>

<!--status-->
<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
    <a th:if="${enabled == true}"
       class="fas fa-check-circle fa-2x icon-green text-decoration-none"
       th:href="@{${entityURL} + '/enabled/false'}"
       th:title="'Disable this' +  ${entityName}">
    </a>


    <a th:if="${enabled == false}" class="fas fa-circle fa-2x icon-dark"
       style="text-decoration: none;"
       th:href="@{${entityURL} + '/enabled/true'}"
       title="Enable this ${entityName}">
    </a>
</div>
<!--end status-->

<!--user photo-->
<div th:fragment="user_photos" th:remove="tag">
    <span th:if="${user.photos == null}" class="fas fa-portrait fa-3x icon-silver"></span>
    <img th:if="${user.photos != null}" th:src="@{${user.photosImagePath}}"
         style="width: 100px"/>
</div>
<!--end user photo-->

<!--edit-->
<div th:fragment="edit(entityName, editURL)" th:remove='tag'>
    <a class="fas fa-edit icon-green text-decoration-none"
       th:href="@{${editURL}}"
       th:title="'Edit this' +  ${entityName}"></a>
</div>
<!--end status-->

<!--delete-->
<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove='tag'>
    <th:block th:if="${visible}">
        <a class="fas fa-trash-alt icon-dark link-delete text-decoration-none"
           th:href="@{${deleteURL}}"
           th:entityID="${entityId}"
           th:title="'Delete this' + ${entityName}">
        </a>
    </th:block>
</div>
<!--end delete-->

<!--footer-->
<div th:fragment="footer" class="text-center m-3">
    <p>Shopme Control Panel - Copyright &copy; Shopme</p>
</div>
<!--end footer-->

<!-- STATUS -->
<div th:fragment="category_status" th:remove="tag">
    <a th:if="${cat.enabled == true}" class="fas fa-check-circle fa-2x icon-green" style="text-decoration: none;"
       th:href="@{'/categories/' + ${cat.id} +  '/enabled/false'}"
       title="Disable Category"></a>

    <a th:if="${cat.enabled == false}" class="fas fa-check-circle fa-2x icon-dark" style="text-decoration: none;"
       th:href="@{'/categories/' + ${cat.id} +  '/enabled/true'}"
       title="Enable Category"></a>
</div>

<!-- STATUS END -->

<!--category actions-->
<div th:fragment="category_actions" th:remove="tag">
    <a class="fas fa-edit fa-1x icon-green"
       th:href="@{'/categories/edit/' + ${cat.id}}"
       title="Edit Category"></a>
    &nbsp;
    <th:block th:if="${cat.hasChildren == false}">
        <a class="fas fa-trash fa-1x icon-dark link-delete"
           th:href="@{'/categories/delete/' + ${cat.id}}"
           th:entityId="${cat.id}"
           title="Delete Category"></a>
    </th:block>
</div>
<!--end category action-->

<!-- pagination    -->
<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
    <div class="text-center m-1" th:if="${totalItems > 0}">
        <span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
    </div>

    <!-- If no users -->
    <div class="text-center m-1" th:unless="${totalItems > 0}">
        <span>No [[${entityName}]] found</span>
    </div>


    <div th:if="${totalItems > 1}">
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
                </li>

                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled' }">
                    <a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!--end pagination-->

<!--search form-->
<!-- search form  -->
<div th:fragment="search_form(moduleURL)">
    <form th:action="@{${moduleURL}}" class="form-inline m-3">

        <input type="hidden" name="sortField" th:value="${sortField}"/>
        <input type="hidden" name="sortDir" th:value="${sortDir}"/>

        Filter:&nbsp;
        <input type="search" id="search_keyword" name="keyword" th:value="${keyword}"
               class="form-control" placeholder="Search keyword" required/>
        &nbsp;&nbsp;
        <button type="submit" class="btn btn-primary mr-2">
            <i class="fas fa-search"></i>
        </button>
        <button type="submit" class="btn btn-secondary" onclick="clearFilter()">
            <i class="fas fa-eraser"></i>
        </button>
    </form>
</div>
<!--end search form-->

</body>
</html>